Debug/
obj/
.vscode/
ClassTracker/.vscode/
ClassTracker/.vs/
.vs/ClassTracker/DesignTimeBuild/
.vs/ClassTracker/v16/
Examples/bin/
Examples/obj/
*.user
ClassTracker/Properties/
ClassTracker/bin/Release/netcoreapp3.1/